* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    background-image: linear-gradient(#ede8fc, #dcd2f9, #ede8fc, #dcd2f9, #ede8fc, #dcd2f9);
}

:root {
    --main-color: #673de6;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background-color: var(--main-color);
    height: 80px;
}

header .container {
    height: 80px;
}

/* ######## */
.menu-btn {
    display: none;
    background-color: var(--link-colors);
    border: none;
    border-radius: 5px;
}

.offcanvas {
    display: none;
    background-color: #f7f5fe;
}

.search>svg {
    cursor: pointer;
}

.menu-box-hover>li>a {
    transition: .3s;
}

.menu-box-hover>li>a:hover {
    transform: translateX(10px);
}


@media (max-width: 991px) {
    .menu-btn {
        display: block;
    }

    .offcanvas {
        display: block;
    }

    .nav-box {
        display: none !important;
    }
}

.title {
    color: #aaa;
}


.info {
    margin-bottom: 10px;
}

.info .container {
    height: 100vh;
    height: calc(100% - 80px);
}

.info h4 {
    font-size: 20px;
}

.info h4 svg {
    font-size: 35px;
}

.main-text>p {
    line-height: 2;
}

.html svg {
    color: #dd4b25;
}

.css svg {
    color: #254bdd;
}

.js svg {
    color: #efd81d;
}

.sass svg {
    color: #c66394;
}

.jquery svg {
    color: #0666a8;
}

.bootstrap svg {
    color: #6e10ee;
}

.github svg {
    color: #1b1f23;
}


/* Start Contact */

.text-line-height{
    line-height: 2;
}

.contact .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background-color: var(--main-color);
}

.contact .container .main-content {
    padding: 10px 40px;
    position: relative;
    margin-right: 20px;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.contact .container .main-content::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 8px solid var(--main-color);
    z-index: 1;
    border-radius: 50%;
}

.contact .container .right::after {
    left: -8px;
}

.content {
    position: relative;
    width: 100%;
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #eee;
    padding: 20px;
}

@media (max-width : 720px) {
    .contact .container::after {
        left: 30px;
    }

    .contact .container .main-content::after {
        left: 10px;
    }

    .contact .container .main-content {
        width: 100% !important;
    }

    .contact .container .right {
        left: 0px;
    }
}


/* End Contact */

/* Start project */

.project .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project .container .box {
    cursor: pointer;
    background-color: #aaa;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.project .container .box:hover .content .details {
    display: block;
}

.project .container .box .image {
    width: 100%;
}

.project .container .box .image img {
    width: 100%;
    height: 100%;
}

.project .container .box .content {
    transition: .3s;
    overflow: hidden;
}

.project .container .box .content .details {
    transition: .3s;
    margin-top: 25px;

}



/* End project */

/* Start Footer */

footer {
    background-color: var(--main-color);
}




/* End Footer */